%define oname rtslib-fb

Name:           python-rtslib
License:        Apache License 2.0
Group:          System Environment/Libraries
Summary:        A framework to implement simple but nice CLIs.
Version:        VERSION
Release:        1%{?dist}
URL:            http://www.risingtidesystems.com/git/
Source:         %{oname}-%{version}.tar.gz
BuildRoot:      %{_tmppath}/%{name}-%{version}-%{release}-rpmroot
BuildArch:      noarch
BuildRequires:  python-devel, epydoc
Vendor:         Datera, Inc.

%description
API for RisingTide Systems generic SCSI target.

%prep
%setup -q -n %{oname}-%{version}

%build
%{__python} setup.py build
mkdir -p doc
epydoc --no-sourcecode --html -n %{oname} --exclude configobj rtslib_fb/*.py
mv html doc/

%install
rm -rf %{buildroot}
%{__python} setup.py install --skip-build --root %{buildroot} --prefix usr
mkdir -p %{buildroot}/usr/share/doc/python-rtslib-doc-%{version}
cp -r doc/* %{buildroot}/usr/share/doc/python-rtslib-doc-%{version}/

%clean
rm -rf %{buildroot}

%files
%defattr(-,root,root,-)
%{python_sitelib}
%{_bindir}/targetctl
/usr/share/doc/python-rtslib-doc-%{version}
%doc COPYING README.md

%changelog
