Source: rtslib-fb
Section: python
Priority: optional
Maintainer: Andy Grover <andy@groveronline.com>
Build-Depends: debhelper(>= 8), python, python3 , python-epydoc, python-setuptools, python3-setuptools, python-six, python-pyudev, dh-python
Standards-Version: 3.9.4
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.1

Package: python-rtslib-fb-docs
Architecture: all
Description: RisingTide Systems LIO target Python API (Documentation).

Package: python-rtslib-fb
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Provides: ${python:Provides}
Suggests: python-rtslib-fb-doc
Conflicts: python-rtslib, rtsadmin-frozen
Description: RisingTide Systems LIO target Python 2 API (free branch).

Package: python3-rtslib-fb
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Suggests: python-rtslib-fb-doc
Conflicts: lio-utils
Replaces: targetcli-fb (<< 2.1.fb32)
Description: RisingTide Systems LIO target Python 3 API (free branch).
 This includes the LIO rc scripts to start and stop the target.
