debian/changelog
dpkg-buildpackage.log
dpkg-buildpackage.version
*.swp
*.swo
build-stamp
build/*
debian/files
debian/python-rtslib.debhelper.log
debian/python-rtslib.substvars
debian/python-rtslib/
debian/rtslib-doc.debianebhelper.log
debian/rtslib-doc.substvars
debian/rtslib-doc/
debian/tmp/
dist/*
doc/*
*.pyc
debian/python-rtslib.substvars
debian/rtslib-doc.debhelper.log
debian/tmp/
*.spec
rtslib-*
