Source: rtslib
Section: python
Priority: optional
Standards-Version: 3.9.2
Homepage: https://github.com/Datera/rtslib
Maintainer: Jerome Martin <jxm@netiant.com>
Build-Depends: debhelper(>= 7.0.50~), python(>= 2.6.6-3~), python-ipaddr, python-netifaces, python-configobj, python-epydoc, texlive-latex-base, texlive-latex-extra, texlive-latex-recommended, lmodern, ghostscript, texlive-fonts-recommended

Package: python-rtslib
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-ipaddr, python-netifaces, python-configobj
Provides: ${python:Provides}
Conflicts: rtsadmin-frozen
Description: Python API to the Linux Kernel's SCSI Target subsystem (LIO)
 Provides Python object mappings to LIO and TCM SCSI Target subsystems and
 fabric modules, like storage objects, SCSI targets and LUNs.
 .
 Part of the Linux Kernel SCSI Target's userspace management tools
