#!/usr/bin/make -f

build_dir   = build
install_dir = debian/tmp
pkgname     = rtslib-fb
name        = rtslib

#export DH_VERBOSE=1

#prevent internet access to use PyPi
export http_proxy = http://127.0.0.1:9

%:
	dh $@ --with python2

override_dh_installdocs:
	mkdir -p $(build_dir) doc
	cd $(build_dir); epydoc --no-sourcecode --html -n $(pkgname) \
		--exclude configobj ../$(name)/*.py
	dh_installdocs $(build_dir)/html

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build
	rm -rf *.egg-info
